body {
    background-image: url("img/Background-linhas.png");
    background: linear-gradient(180deg, #1875E9 0%, #041832 48.44%, #01080E 100%);
    width: auto;
    height: 853px;
    top: 66px;
    left: -1340px;
    padding: 50px 20px;
    gap: 0px;
    opacity: 0px;
}

